/*
Licensed Materials - Property of IBM
(C) Copyright IBM Corp. 2019, 2020. All Rights Reserved.
US Government Users Restricted Rights - Use, duplication or disclosure
restricted by GSA ADP Schedule Contract with IBM Corp.
*/
@import 'carbon-components/scss/globals/scss/styles.scss';
@import '@carbon/charts/styles.css';
@import "@cloudMatrix-CAM/theme-lib/assets/scss/theme-setup.scss";

.main {
  width: 95%;
  padding: 5px;
  overflow: hidden;
  .heading-title {
      font-size: 16px;
      display: block;
      font-weight: bold;
  }
  .minimized-view {
    margin-top: 0;
    font-size: 16px;
    display: block;
    margin-block-end: 1.33em;
    -webkit-margin-start: 0;
    margin-inline-start: 0;
    -webkit-margin-end: 0;
    margin-inline-end: 0;
    font-weight: 700;
  }
}
