/*
Licensed Materials - Property of IBM
(C) Copyright IBM Corp. 2019, 2020. All Rights Reserved.
US Government Users Restricted Rights - Use, duplication or disclosure
restricted by GSA ADP Schedule Contract with IBM Corp.
*/

.main {
  .heading-title {
    display: block;
    font-weight: bold;
    padding: 0.5rem 0 0.5rem 0.5rem;
  }

}
